.form{
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 600px;
    padding-left: 10px;
    padding-top: 40px;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 4px 4px 4px #94bbe9 ;
    background-color: whitesmoke;

    
}

.form-input{
    background-color: #97adc689;
    width: 500px;
    height: 30px;
    margin: 15px 10px 50px 10px;
    border-radius: 8px;
    padding-left: 30px;
    cursor: pointer;
}

.text-input{
    margin-left: 20px;
    
}
    



.season{
    width: 1.8em;
    height: 1.8em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 25px;
    
    
}

.season:checked{
    background-color: gray;
}



.difficulty{
    width: 1.8em;
    height: 1.8em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 40px;

    
}

.difficulty:checked{
    background-color: gray;
}



.input-button{
    margin-left: 170px;
    width: 180px;
    height: 40px;
    border-radius: 12px;
    background-color: #94bbe9;
    cursor: pointer;
}

.section-options{
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: row;

}

.input-options{
    width: 130px;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    background-color:#97adc689 ;
    margin-left: 20px;
    border-radius: 8px;
    padding-left: 15px;
    justify-content: center;
    padding-bottom: 18px;
    
}

.options-button{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-left: 20px;
    padding-top: 5px;

}

