.landing{
    
    width: 100%;
    height: 100%;
    
    
}

.landing-img{
    width: 100%;
    height: 100%;
    
}

.landing-presentation{
    margin-top: 450px;
    margin-left: 150px;
    position: absolute;
    border: solid 1px white;
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-weight: 600;
    font-size: large;

}

.landing-home{
    width: 100px;
    height: 45px;
    border-radius: 6px;
    background-color: #94bbe9;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: white;
}